<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- bootstrap css link -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/feed.css" />
    <link rel="shortcut icon" href="/images/logo.jpg" type="image/x-icon" />
    <title>Feed | pinterest</title>
  </head>
  <body>
    <!-- Image and text -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img
          src="/images/pinterest clone.png"
          width="30"
          height="30"
          class="d-inline-block align-top"
          alt=""
        />
        Pinterest
      </a>
      <a class="navbar-brand ml-3" href="/feed">Home</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <a class="navbar-brand ml-23" href="/profile">Profile</a>
          <a class="navbar-brand ml-3" href="/upload">Create Pin</a>
          <a class="navbar-brand ml-3" href="/logout">logout</a>
        </ul>
      </div>
    </nav>

    <!-- Add this container for your feed items -->
    <div class="container">
      <!-- feed-items.ejs -->
      <% posts.forEach(function(elem){ %>
      <div class="content">
        <!-- Render your feed item content here -->
        <img src="/images/uploads/<%= elem.image %>" alt="" />
        <p class="title"><%= elem.text %></p>
      </div>

      <% }) %>
    </div>
  </body>
</html>
