<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/images/logo.jpg" type="image/x-icon" />
    <link rel="stylesheet" href="/stylesheets/profile.css" />
    <title>profile | pinterest</title>
  </head>
  <body>
    <div id="algn">
      <div id="card">
        <div id="upper-bg">
          <img
            src="https://images.unsplash.com/photo-1501854140801-50d01698950b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8bmF0dXJlfGVufDB8fDB8fHww"
            alt=""
            class="coverPhoto"
          />
          <img
            src="https://plus.unsplash.com/premium_photo-1670282393309-70fd7f8eb1ef?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Z2lybHxlbnwwfHwwfHx8MA%3D%3D"
            alt="profile-pic"
            class="profile-pic"
          />
        </div>
        <div id="lower-bg">
          <div class="text">
            <h1 class="name">username</h1>
            <p class="title">description</p>
            <h3 class="title">categories</h3>
            <div id="btn">
              <button class="msg">share</button>
              <button class="msg">edit profile</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
