* {
  margin: 0;
  padding: 0;
  background-color: #fffcfc;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", "Myriad          Pro",
    "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 5%;
  font-family: "Outfit", sans-serif;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 99;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 6.3px 10px rgba(0, 0, 0, 0.025),
    0px 50px 80px rgba(0, 0, 0, 0.05);
}

.icon {
  height: 32px;
  width: 32px;
}

.search-icon {
  height: 40px;
  width: 40px;
  margin-right: 10px;
  border-radius: 50%;
}

ul {
  list-style-type: none;
  display: flex;
  padding: 0px 10px;
  align-items: center;
}

li {
  padding: 15px 15px;
  font-size: 17px;
}

.search-bar {
  display: flex;
  width: 50%;
  padding-left: 25px;
  align-items: center;
  background-color: rgb(221, 217, 217);
  border-radius: 32px;
  height: 50px;
}

.nav-icon {
  margin: 0px 8px;
  height: 28px;
  width: 28px;
}

.nav-icons {
  margin-left: 10px;
}

.arrow-icon {
  width: 32px;
  height: 32px;
}

li:hover {
  background-color: #111111;
  color: #e9e9e9;
  padding: 15px 15px;
  border-radius: 25px;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
  background: none;
  width: 100%;
  display: flex;
  align-items: center;
}

.container {
  padding-top: 13vh;
  width: 1400px;
  margin: auto;
  columns: 6;
  column-gap: 20px;
}
.container .box {
  width: 100%;
  margin-bottom: 10px;
  break-inside: avoid;
  border-radius: 15px;
}
.container .box img {
  max-width: 100%;
  min-width: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out; /* Added transition property */
}

.container .box img:hover {
  transform: scale(1.05); /* Scale the image on hover */
  opacity: 0.95;
  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
}

img:hover {
  opacity: 0.95;
  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
}

.caption {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2px;
}

@media (max-width: 1427px) {
  .container {
    columns: 5;
    width: calc(100% - 40px);
  }
}
@media (max-width: 1200px) {
  .container {
    columns: 4;
  }
}

@media (max-width: 1000px) {
  .container {
    columns: 3;
  }

  body {
    overflow-x: hidden;
  }

  .navLink {
    position: absolute;
    right: 0px;
    height: 90vh;
    top: 10vh;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    transform: translateX(100%);
    transition: transform 0.4s ease-in;
    opacity: 0.9;
  }

  .navLink li {
    opacity: 1;
  }

  .lines {
    display: block;
  }

  .nav-active {
    transform: translateX(0%);
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }

    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .toggle .l1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .toggle .l2 {
    opacity: 0;
  }

  .toggle .l3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}

@media (max-width: 786px) {
  .container {
    columns: 2;
  }
}

@media (max-width: 480px) {
  .container {
    columns: 1;
  }
}
