@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
#algn {
  height: 9vh;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#card {
  width: 60%;
  height: 70vh;
  border: none;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0px 6.3px 10px rgba(0, 0, 0, 0.025),
    0px 50px 80px rgba(0, 0, 0, 0.05);
}

#upper-bg {
  width: 100%;
  height: 55%;
  background-color: #f2a49a;
  display: flex;
  justify-content: center;
  position: relative;
}
.coverPhoto {
  width: 100%;
  height: 100%;
}
.profile-pic {
  width: 170px;
  height: 170px;
  background-color: #cd2711;
  border: 5px solid white;
  border-radius: 50%;
  padding: 5px;
  position: absolute;
  top: 100px;
}

#lower-bg {
  width: 100%;
  height: 45vh;
  margin-bottom: 30px;
}

.text {
  text-align: center;
  padding-top: 35px;
}

.text .name {
  font-weight: 600;
  font-size: 30px;
  padding: 0;
  margin: 5px;
}

.text .title {
  padding: 0;
  margin: 0;
  font-size: 15px;
}

#btn {
  display: flex;
  justify-content: center;
  margin: 15px;
}

#btn button {
  margin: 0 20px;
  padding: 10px 15px;
  background-color: #c23a09;
  border: none;
  border-radius: 50px;
  font-weight: 700;
}

#btn button:hover {
  box-shadow: 0 4px 8px 0 #6aa3dc, 0 6px 20px 0 #e7e9eb;
  cursor: pointer;
  background-color: #782101;
}
